In [1]:
import numpy as np
import pandas as pd
import nltk

In [4]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [38]:
data=pd.read_csv('gmail_spam.csv')

In [39]:
data

     type                                               text
0     ham  Go until jurong point, crazy.. Available only ...
1     ham                      Ok lar... Joking wif u oni...
2    spam  Free entry in 2 a wkly comp to win FA Cup fina...
3     ham  U dun say so early hor... U c already then say...
4     ham  Nah I don't think he goes to usf, he lives aro...
..    ...                                                ...
111   ham           What is the plural of the noun research?
112   ham                    Going for dinner.msg you after.
113   ham  I'm ok wif it cos i like 2 try new things. But...
114  spam  GENT! We are trying to contact you. Last weeke...
115   ham                    Wa, ur openin sentence very for

[116 rows x 2 columns]

In [40]:
data.columns

Index(['type', 'text'], dtype='object')

In [41]:
data['type']=data['type'].map({'spam':1,'ham':0})

In [42]:
data

     type                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...
..    ...                                                ...
111     0           What is the plural of the noun research?
112     0                    Going for dinner.msg you after.
113     0  I'm ok wif it cos i like 2 try new things. But...
114     1  GENT! We are trying to contact you. Last weeke...
115     0                    Wa, ur openin sentence very for

[116 rows x 2 columns]

In [43]:
data.shape

(116, 2)

In [44]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re

In [45]:
corpus = []
ps = PorterStemmer()
for i in range(0, len(data)):
    review = re.sub('[^a-zA-Z]', ' ', data['text'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [48]:
tfidf=TfidfVectorizer()
x=tfidf.fit_transform(corpus)

In [52]:
print((x.shape))

(116, 611)

In [53]:
print(x)

  (0, 570)	0.2573788909315461
  (0, 21)	0.27975624278298505
  (0, 206)	0.24150190712240582
  (0, 83)	0.27975624278298505
  (0, 56)	0.27975624278298505
  (0, 266)	0.27975624278298505
  (0, 592)	0.27975624278298505
  (0, 211)	0.24150190712240582
  (0, 57)	0.27975624278298505
  (0, 34)	0.27975624278298505
  (0, 114)	0.27975624278298505
  (0, 395)	0.27975624278298505
  (0, 259)	0.27975624278298505
  (0, 200)	0.18567232010939222
  (1, 364)	0.5250533925241325
  (1, 581)	0.4532567151111999
  (1, 258)	0.430143347532412
  (1, 267)	0.4532567151111999
  (1, 360)	0.35834667011947946
  (2, 28)	0.19910894429006692
  (2, 409)	0.21642011882742399
  (2, 542)	0.1629338928417948
  (2, 492)	0.19910894429006692
  (2, 406)	0.21642011882742399
  (2, 415)	0.21642011882742399
  :	:
  (113, 536)	0.20664283008799803
  (113, 90)	0.5050445309605817
  (113, 283)	0.35491455766728336
  (113, 145)	0.25252226548029083
  (113, 581)	0.2369448733096783
  (113, 360)	0.18732961591440317
  (114, 398)	0.28344907749459475
  (114, 239)	0.28344907749459475
  (114, 142)	0.28344907749459475
  (114, 268)	0.28344907749459475
  (114, 105)	0.28344907749459475
  (114, 195)	0.28344907749459475
  (114, 462)	0.2607763404147554
  (114, 214)	0.2607763404147554
  (114, 576)	0.2607763404147554
  (114, 536)	0.21339726578487436
  (114, 557)	0.2607763404147554
  (114, 91)	0.2607763404147554
  (114, 63)	0.17078003270482175
  (114, 85)	0.23221206982848927
  (114, 402)	0.22201704037092718
  (115, 452)	0.532410232188885
  (115, 366)	0.532410232188885
  (115, 563)	0.532410232188885
  (115, 547)	0.38680490428862574

In [54]:
y=data['type']

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
clf=LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression()

In [59]:
y_pred=clf.predict(x_test)

In [60]:
from sklearn.metrics import accuracy_score

In [61]:
print(accuracy_score(y_pred,y_test))

0.9166666666666666